{% extends "base.j2.html" %}

{% block title %}See all your pics{% endblock %}


{% block body %}

    <div class='span10'>
        <div class='hero-unit'>
            <h1>Welcome to the Gemini Browser</h1>

            <br>
            
            <br>
          <form action = "\" method="GET" enctype="multipart/form-data">
            <div class="controls">
            <button type="submit" class="btn btn-large btn-primary" name="load_wiz" value='load_wiz'>Loading Wizard</button>
            </div>
          </form>
        </div>

    </div><!-- end of hero-unit -->

{% endblock %}
