{% extends "base.j2.html" %}
{% block title %}overlap{% endblock %}
{% block head %}{% endblock %}

{% block body %}
<div class='row page'>
	<form id = 'hai' action = '/overlap' method="POST" class="well span6 offset3" enctype="multipart/form-data">
			<div class="row">
			<div class="span3">
				<p>
        <h3>Search <em>overlap region</em> in</h3>
				<em><strong>{{dbfile}}</strong></em> with <em><strong>{{maps_name}}</strong></em>
				</p>
			</div>
			<div class="span2 offset1">
				<img src="/static/img/gemini.png" width="80px" class="img-rounded">
			</div>
		</div>


		<div>
		<hr>
		<h3>{{message}}</h3>
			<br>
			Select a CNV map (.txt): <input type="file" name="CNVmap" />
			<br>
		</div>

		<br>
		<strong>Minimum overlap required as a fraction of A. Default is 1E-9 (i.e. 1bp).</strong>
		<div class="control-group">
				<label class="control-label" for="query">
					<textarea rows="1" type="text" name="f", ></textarea>
				</label>
		</div>
		<div class="control-group">
				<label class="checkbox" {display: inline-block};>
					<input type="checkbox" name="reciprocal" value="on" {{'checked="checked"' if reciprocal else ""}}/>Reciprocal
        	<br>
					<strong>Note:</strong><em>  If checked, you must include a minimum overlap fraction</em>
					<br>
					<br>
					<input type="checkbox" name="invert" value="on" {{'checked="checked"' if invert else ""}}/>Inverted selection [only variants which do not overlap]
					<br>
					<strong>Note:</strong><em>  If checked, you must include a minimum overlap fraction and check reciprocal</em>
					<br>
				</label>
		</div>

<hr>

		<strong>Samples contained in VCF</strong>
		<div>
			<table class='table table-striped table-hover table-condensed'>
				<tbody>
					{%for row_s in rows_sample %}
							 {% if loop.index0 == 0 %}
								<tr>
										{%for col_s in row_s %}
										<th>{{col_s}}</th>
										{% endfor %}
								</tr>
								{% endif %}

								<tr>
									{%for col_s in row_s %}
										<td>{{ row_s[col_s]}}</td>
									{% endfor %}
								</tr>

					{% endfor %}
				</tbody>
			</table>
		</div>

		You can select one or more sample <i>(comma separated)</i>: <textarea rows="1" type="text" name="sample">{{sample}}</textarea>
		<br>
		<hr>

		<div>
			<strong>Filter the overlap interval by length (min,max or a range)</strong>
			<table>
				<td><textarea rows="1" type="text" name="int_len_min" ></textarea></td>
				<td><textarea rows="1" type="text" name="int_len_max" ></textarea></td>
			</table>
		</div>

		<div>
			<strong>or by alteration [DUP/DEL]</strong><br>
			<textarea rows="1" type="text" name="alt_par" ></textarea>
		</div>

		<div class="control-group">
 			<div class="controls">
 				<button type="submit" class="btn btn-large btn-primary" name="submit" value="submit">Submit</button>
				<button type="submit" class="btn btn-large btn-success" name="save" value="save">Save as text file</button>
			</div>
			<em><strong>{{results}}</strong></em></textarea>
			<textarea name="results" style="display:none;">{{results}}</textarea>
		</div>
</form>

<div class="span12 table-wrapper">
	<table class='table table-striped table-hover table-condensed' data-provides="rowlink">
		<tbody>
			{%for row in rows %}
           {% if loop.index0 == 0 %}
            <tr>
                {%for col in row %}
                <th>{{col}}</th>
                {% endfor %}
            </tr>
            {% endif %}
						<tr>
							{%for col in row %}
								<td>{{ row[col]}}</td>
								{% endfor %}
							</tr>

			{% endfor %}
		</tbody>
	</table>
</div> <!-- end of debug-pane -->


</div><!-- end of page -->

{% endblock %}
