{% extends "base.j2.html" %}
{% block title %}wizin{% endblock %}
{% block head %}{% endblock %}

      {% block body %}

          <div class='span10'>
              <div class='hero-unit'>
                  <h1>Welcome to the Gemini loading wizard</h1>
          <br>
          <h3>{{message}}</h3>
          <br>
          <form action = "\wizin" method="GET" enctype="multipart/form-data">
            Select a VCF file: <input type="file" name="VCFfile" />
            It contains cnv? <input type="checkbox" name = "cnv">
            <br>
            Select a CNV map (.txt): <input type="file" name="CNVmap" />
            <br>
            Select a PED file (.ped): <input type="file" name="PED" />
            <br>
            Number of cores (def = 1): <input type="text" name="CORES" />
            <br>
            Output file name (example.db): <input type="text" name="outfilename" />
            <div class="controls">
              <button type="submit" class="btn btn-large btn-primary" name="load" value = 'True'>Load</button>
            </div>
          </form>

          </div>
          </div>
      {% endblock %}
